body {
  background-color: #3c3c3c;
  font-family: helvetica, sans-serif;
  color: seashell;
  font-size: 22px;
  display: block;
  opacity: 0.9;
}
h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}


/*header section*/

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header {
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-bottom: 2px solid seashell;
}

.header a {
  color: inherit;
  text-decoration: underline;
}

nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}



.header img {
  height: 50px;
  padding-left: 10px;
}

/*Body Content Section*/

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

/*mission section*/

#mission {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./images/img-mission-background.jpg");
  border-radius: 1%;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
}

#mission .content {
  background-color: #3c3c3c;
  /*height: 125px;*/
  width: 80%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  transition: all 5s ease;
}

#mission .content:hover {
  opacity: 0;
}

/*store items section*/

.items {
  display: block;
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
  justify-content: center;
  text-align: center;

}


.items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
}



.item img {
  border-radius: 5%;
  height: 200px;
  width: 300px;
  display: block;
  opacity: 0.8;
  transition: all .5s ease;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  opacity: 1;

}

.item img:hover {
  width: 330px;
  height: 230px;
}

/*locations section*/

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-image: url("./images/img-locations-background.jpg");
  background-size: cover;
  height: 960px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.locations-container {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
  width: 1100px;
}

.location {
  display: block;
  width: 300px;
  opacity: 1.0;
  padding: 10px;
  margin: 50px 20px;
  background-color: #3c3c3c;
  flex-basis: 200px;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

/* contact info section */

.contact {
  display: block;
  text-align: center;
  height: 200px;
}

/* footer section */

footer {
  height: 20px;
}
